@import './__container/element__container.css';
@import './__text/element__text.css';
@import './__image/element__image.css';
@import './__button-delete/element__button-delete.css';
@import './__button-like/element__button-like.css';
@import './__container_likes/element__container_likes.css';
@import './__count-like/element__count-like.css';
@import './__button-delete/_deactivation/element__button-delete_deactivation.css';

.element{
    max-width: 282px;
    max-height: 361px;
    background: #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 282px;
    grid-template-rows: 282px 79px;
    position: relative;
}